// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin-left: 3rem;
}

#header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: coral;
}

.block {
  font-size: 30px;
  color: rgb(61, 61, 61);
  border-left: 5px solid gray;
  padding: 1rem;
  margin-top: 3rem;
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  margin-top: 2rem;
  font-weight: 100;
  color: rgb(58, 59, 71);
  text-decoration: none;
}

.answer {
  background-color: blanchedalmond;
  width: 500px;
}